<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyTaiSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuanLyTaiSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLyTaiSan.Properties.Settings.QuanLyTaiSanConnectionString"
            connectionString="Data Source=34.41.188.38;Initial Catalog=QuanLyTaiSan;User ID=phonglam;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <QuanLyTaiSan.Properties.Settings>
            <setting name="PasswordHash" serializeAs="String">
                <value>mIPbYJkdbQ8f1Kx91hswbVpKs24aNTTJ</value>
            </setting>
        </QuanLyTaiSan.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <QuanLyTaiSan.Properties.Settings>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationPalletName" serializeAs="String">
                <value />
            </setting>
        </QuanLyTaiSan.Properties.Settings>
    </userSettings>
</configuration>